html, body {
	height: 100%;
	width: 100%;
}

body {
	background: #EEE;
}

.top, .bottom {
	height: 20%;
}

.main-container {
	height: auto;
	text-align: center;
}

.networks {
	text-align: center;
	padding-top: 10px;
}

.networks li {
	display: inline;
	padding: 0 10px;
}

.networks a {
	text-decoration: none;
}

.networks img {
	width: auto;
	height: 50px;	
}